.ABC{
background-color:orange;
}
.hvr:hover{
    background-color:black;
    }
.xyz{
    background-color:white;

}
.pqr{
    background-color:green;

}
.footerclr{
    background-color:rgb(245, 179, 56);

}